.square {
    border: 2px solid black;
    width: 200px;
    height: 200px;
}

#box{
    padding-left: 500px;
    width: 816px;
    height: 800px;
    margin: 0 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.blue{
    background-color: aqua;
}

.red{
    background-color: red;
}

.TurnButton{
}

#lilBox{
    width: 100px;
    height: 100px;
    float: right;
}