* {
    margin: 0;
    padding: 0;
  }

  body{
    font-family: cursive;
    background-image: url(pictures/BG.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

.upper-part{
    width: 100%;
    height:75vh;
    display: flex;
    text-align: center;
    overflow: hidden;
}

.upper-part h1,.upper-part h2{
    margin-top: 4%;
}

.name-L{
    width: 50%;
    height: 100%;
    padding-top: 2.5%;
}


.up-name{
    width: 100%;
    height: 12vh;
    background-image: url(pictures/Stats_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.name-R{
    padding-top: 2.5%;
    width: 50%;
    height: 40%;
}

#name-1, #type-1{
    width: 50%;
    height: 50%;
}


.HPbar {
    width: 88%;
    background-color: #da0e0e;
    border-radius: 15px;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
  }

  .HPbar2 {
    float: right;
    width: 88%; 
    border-radius: 15px;
    background-color: #da0e0e;
    border-left: 4px solid black;
    border-bottom: 4px solid black;
  }

#HP1, #HP2{
    color: white;
    font-weight: bold;
    width: 100px;
    height: 25px;
}

#HP1{
    margin-left: 5%;
}

#currentBar, #currentBar2 {
    width: 100%;
    height: 30px;
    background-color: #04AA6D;
    border-radius: 10px;
  }

.low-name{
    width: 100%;
    height: 12vh;
    background-image: url(pictures/Stats_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

#name-2, #type-2{
    width: 50%;
    height: 50%;
}

.lower-part{
    width: 100%;
    height:24.5vh;
    display: flex;
    background-color: aquamarine;
    border-top: 5px solid black;
    text-align: center;
}

.Left-L-part{
    width: 50%;
    height: 90%;
    margin: 1%;
    margin-top: 0.5%;
    border: 5px solid black;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

.inner-box_1{
    margin: 1%;
    height: 90%;
    box-shadow:   0 0 0 6px rgb(68, 65, 65), 0 0 0 9px rgb(254, 240, 50);
}

.inner-box_2{
    height: 100%;
}

#Stat_desc{
    padding-top: 7.5%;
}

.Left-R-part{
    width: 50%;
    height: 100%;
    display: flex;
}

.Movement-opt{
    width: 50%;
    height: 100%;
}

.Spec-opt{
    width: 50%;
    height: 100%;
}

.opt_1{
    margin-top: 5%;
}

.opt_3{
    margin-top: 5%;
}

.opt_1, .opt_2, .opt_3, .opt_4{
    border: 3px solid black;
    border-radius: 30px;
    height: 40%;
    display:table;
    display: grid;
    box-shadow: 0 0 0 3px white inset;
    color: white;
}

.opt_1 p, .opt_2 p,.opt_3 p, .opt_4 p{
    padding: 3%;
    font-size: 30px;
    font-weight: bold;
}

.opt_1{
    background-color: #fb7c7c;
}

.opt_1:hover{
    border-color: red;
    border-radius: 30px;
    background-color: rgb(255, 56, 56);
    box-shadow: 0 0 0 3px white inset;
}

.opt_2{
    background-color: #7cb1fb;
}

.opt_2:hover{
    border-color: blue;
    border-radius: 30px;
    background-color: #3489ff;
    box-shadow: 0 0 0 3px white inset;
}

.opt_3{
    background-color: #e9b87f;
}

.opt_3:hover{
    border-color: #ec8c1f;
    border-radius: 30px;
    background-color: #ed9837;
    box-shadow: 0 0 0 3px white inset;
}

.opt_4{
    background-color: #ed7ccb;
}

.opt_4:hover{
    border-color: #e528ac;
    border-radius: 30px;
    background-color: #e747b7;
    box-shadow: 0 0 0 3px white inset;
}

.leftUpPart{
    height: 50%;
    width: 100%;
}

.leftUpPartR{
    height: 100%;
    width: 100%;
}

.jedlikmon1{
    height: 50%;
    width: 50%;
    background-image: url(/pictures/laci1.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 20%;
}

.jedlikmon2{
    float: right;
    height: 100%;
    width: 50%;
    background-image: url(/pictures/LiptakKoter.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 20%;
    margin-bottom: 15%;
}

#StatusWindow{
    position: absolute;
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
    height: 80%;
    border: 5px solid black;
    background-color: rgb(255, 245, 221);
    /*visibility: hidden;*/
    border-radius: 20px;
    box-shadow: inset 0 0 0 9px rgb(136, 114, 100);
    font-size: 30px;
    font-weight: bold;
    color: rgb(85, 31, 18);
}

.marginDist{
    margin-left: 5%;
    margin-top: 3%;
}

#StatusName{
    margin-left: 37%;
    margin-top: 5%;
    font-size: larger;
    margin-bottom: 1%;
}

.WindowButtonClose{
    margin-left: 23%;
    margin-top: 5%;
    height: 20%;
    width: 50%;
    border: 5px solid black;
    background-color: wheat;
    border-radius: 60px;
}

.WindowButtonClose p{
    text-align: center;
    padding-top: 5%;
    font-size: 50px;
}

.WindowButtonClose:hover{
    background-color: rgb(235, 198, 129);
    box-shadow: 0 0 0 3px white inset;
}